@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #52484A;
  --foreground: #FA2F5F;
  --primary: #fff;
  --secondary: #3DBA50;
  --tertiary: #A5445B;
  --cardColor: rgb(223, 225, 235);
}
